= form_for([@post, @post.postcomments.build]) do |f|
  f.error_messages
  div.field
    = f.label :commenter
    br
    = f.text_field :commenter
  div.field
    = f.label :body
    br
    = f.text_area :body
  div.actions
    = f.submit