p
	b Commenter:
	= postcomment.commenter
p
	b Comment:
	= postcomment.body

= link_to 'Destroy Comment', [postcomment.post, postcomment],\
             :confirm => 'Are you sure?',\
             :method => :delete