p#notice = notice

p
  strong Name:
  = @post.name
p
  strong Title:
  = @post.title
p
  strong Content:
  = @post.content

h2 Comments:
= render @post.postcomments
  

h2 Add a comment:
= render "postcomments/form"




= link_to 'Edit', edit_post_path(@post)
'|
= link_to 'Back', posts_path
